<div class="row">
  <div class="col-xs-12">
    <h2>Les posts</h2>
    <div class="list-group">

      <div *ngFor="let post of posts; let i = index">
        <div [ngClass]="{'list-group-item': true,
            'list-group-item-success': post.nbLike > 0,
            'list-group-item-danger': post.nbLike < 0}"
            style="margin-top:20px;">
          <h3 class="list-group-item-heading"  >
            <span (click)="viewSinglePost(i)" style= "cursor: pointer;color: rgb(0, 0, 129)">{{ post.title }} </span>
            <div class="pull-right"><h5>le {{ post.date | date : "dd.MM.y - H:MM" }}</h5>
              <button class="btn btn-default pull-right" (click)="onDeletePost(post.title,i)">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
          </h3>
          <br>
          <div>
            <p class="list-group-item-text">{{ post.content }}</p>
          </div>
          <div style="margin-top: 25px;">
            <button class='btn btn-success' (click)='like(i)'>Like</button>
            <button class='btn btn-danger' (click)='unlike(i)'>unLike</button>
            <button class='btn'> {{ post.nbLike }}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>