
<div class='list-group-item' style="margin-top:20px;" [ngClass]="
                                        {'list-group-item-success': loveIts > 0,
                                         'list-group-item-danger': loveIts < 0}">

  <div class="col-md-12" >
    <h6 style="float:right;"><i> --  {{created_at | date: 'EEEE d MMMM y'}} </i></h6>
    <h3 class="col-md-8 " style="font-weight:bold;">{{title}}</h3>  
  </div>
  <br>

  <div class="col-md-12" style="margin-top:20px;">
    {{content}}
  </div>

  <br>
  <div class='text-center' style="margin-top:20px;">
    <button class='btn btn-success' (click)="updateHits('+')">Like <div *ngIf="loveIts > 0">{{absLoveIts()}}</div> </button>
    <button class='btn btn-error' (click)="updateHits('-')">Don't Like <div *ngIf="loveIts < 0"> {{ absLoveIts() }} </div></button>
  </div>
</div>