<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>  

<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="starter-template text-center" style="margin-bottom:50px;margin-top:50px;">
            <h1>Mon blog sur les lampadaires (une passion comme une autre)</h1>
          </div>
      <div class='list-group'>
        <app-post-item *ngFor="let eachPostItem of postListItems"
                        [title]="eachPostItem.title"
                        [content]="eachPostItem.content"
                        [loveIts]="eachPostItem.loveIts"
                        [created_at]="eachPostItem.created_at">
                        </app-post-item>
      </div>
    </div>
  </div>
</div>-->